@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa ;
}

.first_col {
    background-color: white;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    width: 550px;
    left: 155px;
    top: 171px;
    border-radius: 20px;
}

.img-fluid {
    border-radius: 20px;
}

.row-last {
    width: 60% !important;
    position: relative !important;
    left: 350px;
    top: 50px;
    height: 150px;
    padding-bottom: 100px !important;
    background-color: #c1b688;
    border-radius: 20px;

}

.btn-primary {
    background-color: #c1b688;
    border: #c1b688;

}

.btn-primary:hover {
    background-color: black !important;
}

.form-control {
    height: 40px;
    background: #fff;
    font-size: 12px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #c1b688;
}
.form-control[type=text]:focus {
border: 2px solid #555;
}
@media only screen and (max-width: 600px) {
    .first_col {
        position: initial;
        left: 0 !important;
    }

    .sec_col {
        order: 1 !important;
    }

    .row-last {
        left: 0 !important;
        width: 100% !important;
        height: 500px !important;
        top: 0 !important;
    }
}


/* nava bar hed */


.navbar {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar button{
    list-style: none;
    padding: 20px;
    margin: 10px;
    float: left;
    font-size: 20px;
    border-radius: 35px;
    /*background: red;*/

}
.navbar  ul li a{
    color: inherit;
    text-decoration: none;
}
.navbar ul li.active{
    background: var(--gra);
}
.navbar ul li.active a{
    color: blue;
    font-weight: bold;
}
/* responsive */
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}

.filter-btns1{
    text-align: right;
}
.filter-btn1{
    background: none;
    cursor: pointer;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 30px;
    font-size: 16px;
    color: #d3d3d3;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.filter-btn1::after{
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #555;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}
.filter-btn1:hover{
    color: #555;
}
.filter-btn1:hover::after{
    width: 100%;
}
/* active button */
.active-btn1{
    color: #555;
}
.active-btn1::after{
    width: 100%;
}
/*  */

.filter-items{
    margin-top: 40px;
}
.logo img{
    width: 80px;
}
